# macOS
.DS_Store

# conda
.env
.venv
*.env

# nextflow
.work
.nextflow*
.cache/
reports/
results/
output/
pipelines/outputs/*.nf/*
pipelines/work
work
!pipelines/outputs/*/nextflow.config
!pipelines/outputs/*/ro-crate-metadata.json
*arc

# python
__pycache__/
*.pyc

# docker artifacts
*.tar

# data and model
pipelines/data/
pipelines/model/

*Zone.Identifier
docker
arc
data/*
outputs/cancerf/*
outputs/scgpt/*

