[submodule "external/cancerf"]
	path = external/cancerf
	url = https://github.com/BoevaLab/CancerFoundation
[submodule "external/scgpt"]
	path = external/scgpt
	url = https://github.com/bowang-lab/scGPT
