// docker {
//    enabled = true
//    // runOptions = '--gpus=all'
// }
docker.enabled = true
process.executor = "local"

// outputDir = 'outputs'
workDir = '.work'

params {
   outDir = 'outputs'
   resultsSubdir = 'results'
   resultsIndexSubdir = 'results'
}

profiles {
   with_prov {
      plugins = ['nf-prov']

      prov {
         enabled = true
         formats {
            wrroc {
               file = "${params.outDir}/ro-crate-metadata.json"
               overwrite = true
               license = "https://spdx.org/licenses/MIT"
            }
         }
      }
   }
   test_scgpt_fine_tuning_cell_types_workflow {
      prov.formats.wrroc.file = 'outputs/test_scgpt_fine_tuning_cell_types_workflow.nf/ro-crate-metadata.json'
   }
   scGPT_finetune_integration_workflow {
      prov.formats.wrroc.file = 'outputs/scGPT_finetune_integration_workflow.nf/ro-crate-metadata.json'
   }
   scgpt {
      params.model = "scgpt"
      process.container = "cancerf-cpu"
   }
   cancerf {
      params.model = "cancerf"
      process.container = "cancerf"
   }
   cancerf_cpu {
      params.model = "cancerf"
      process.container = "cancerf-cpu"
   }
}

process.env.PYTHONPATH = "${projectDir}/external/${params.model}:${projectDir}/bin/shared"
docker.runOptions = "-e PYTHONPATH=${process.env.PYTHONPATH}"
includeConfig "workflows/${params.model}/${params.model}.config"

outputDir = "${projectDir}/${params.outDir}/${params.model}"
params {
   outputDir = "${projectDir}/${params.outDir}/${params.model}"  // expose outputDir to workflow and script
   scriptsDir = "${projectDir}/bin/${params.model}"
}
prov.formats.wrroc.file = "${params.outputDir}/ro-crate-metadata.json"

