docker.enabled = true
process.executor = "local"

workDir = '.work'

// Define key parameters
params {
   // Define main input parameters
   model = null
   task = null
   gpu = false
   
   // Define helper paths for directory definition
   outDir = 'outputs'
   resultsSubdir = 'results'
   resultsIndexSubdir = 'results'
}

// Define run profiles
profiles {
   // Running specific models
   // cancerf_cpu {
   //    params.model = "cancerf"
   //    // process.container = "${params.model}${params.gpu ? '' : '-cpu'}"
   //    // includeConfig "workflows/${params.model}/${params.model}.config"
   // }
   // cancerf {
   //    params.model = "cancerf"
   //    process.container = "cancerf"
   //    // params.gpu = true
   //    // includeConfig "workflows/${params.model}/${params.model}.config"
   // }
   // scgpt {
   //    params.model = "scgpt"
   //    process.container = "cancerf-cpu"
   //    // params.gpu = true
   //    // includeConfig "workflows/${params.model}/${params.model}.config"
   // }

   // Running with executors other than local
   slurm {
      process.executor = 'slurm'
   }
   apptainer {
      docker.enabled = false
      apptainer.enabled = true
   }
}

// Define container
process.container = "${params.model}${params.gpu ? '' : '-cpu'}"
// (optional)
// If you want to use your own container, 
// comment the line above, and 
// uncomment the line below and enter your container name
// proces.container = "<my-container-name>"


// Add external and shared Python code to Python path
process.env.PYTHONPATH = "${projectDir}/external/${params.model}:${projectDir}/bin/shared"
docker.runOptions = "-e PYTHONPATH=${process.env.PYTHONPATH} ${params.gpu ? '--gpus all' : ''}"
apptainer {
   autoMounts = true // user bind control must be enable in the apptainer installation
   runOptions = "--env PYTHONPATH=${process.env.PYTHONPATH} ${params.gpu ? '--nv' : ''}"
   // cacheDir = ".apptainer"
}

// Include model- and task-specific config
includeConfig "workflows/${params.model}/${params.model}.config"
includeConfig "configs/${params.model}/${params.task}.config"
// (optional)
// Include your own config
// includeConfig "configs/myconfig.config"

// Output directory and directory with Python scripts for the model
// If you change outputDir, then also change params.outputDir to be the same directory
// If you add outputDir as Nextflow argument -output-dir path/to/output-dir,
// then make sure you also change the exposed params.outputDir in this file
outputDir = "${projectDir}/${params.outDir}/${params.model}"
params {
   outputDir = "${projectDir}/${params.outDir}/${params.model}"  // exposes outputDir to workflow and script
   scriptsDir = "${projectDir}/bin/${params.model}"
}

// Provenance and RO-crate
profiles {
   // Running with provenance outputs
   with_prov {
      plugins = ['nf-prov']

      prov {
         enabled = true
         formats {
            wrroc {
               file = "${params.outputDir}/ro-crate-metadata.json"
               overwrite = true
               license = "https://spdx.org/licenses/MIT"
            }
         }
      }
   }
}
// prov.formats.wrroc.file = "${params.outputDir}/ro-crate-metadata.json"

// (optional)
// Define your own run profile
// profiles {
//    my_profile {}
// }
