docker.enabled = true
process.executor = "local"
workDir = '.work'

// Define helper paths for directory definition
params {
   outDir = 'outputs'
   resultsSubdir = 'results'
   resultsIndexSubdir = 'results'
   gpuRunOption = ''
}

// Define run profiles
profiles {
   // Running with provenance outputs
   with_prov {
      plugins = ['nf-prov']

      prov {
         enabled = true
         formats {
            wrroc {
               file = "${params.outDir}/ro-crate-metadata.json"
               overwrite = true
               license = "https://spdx.org/licenses/MIT"
            }
         }
      }
   }

   // Running specific models
   cancerf_cpu {
      params.model = "cancerf"
      process.container = "cancerf-cpu"
   }
   cancerf {
      params.model = "cancerf"
      process.container = "cancerf"
   }
   scgpt {
      params.model = "scgpt"
      process.container = "cancerf-cpu"
      // params.gpuRunOption = '--gpus=all'
   }
}

// Add external and shared Python code to Python path
process.env.PYTHONPATH = "${projectDir}/external/${params.model}:${projectDir}/bin/shared"
docker.runOptions = "-e PYTHONPATH=${process.env.PYTHONPATH} ${params.gpuRunOption}"

// Include workflow specific config
includeConfig "workflows/${params.model}/${params.model}.config"

// Output directory and directory with Python scripts for the model
// If you change outputDir, then also change params.outputDirs to be the same directory
// If you add outputDir as Nextflow argument -output-dir path/to/output-dir,
// then make sure you also change the exposed params.outputDir in this file
outputDir = "${projectDir}/${params.outDir}/${params.model}"
params {
   outputDir = "${projectDir}/${params.outDir}/${params.model}"  // exposes outputDir to workflow and script
   scriptsDir = "${projectDir}/bin/${params.model}"
}

// RO-Crate metadata file path
prov.formats.wrroc.file = "${params.outputDir}/ro-crate-metadata.json"

