params {
    workflow {
        input = "${projectDir}/data/test/neftel_ss2.h5ad"            // Full path to input .h5ad file
        model_dir = "${projectDir}/external/cancerf/model/assets"   // Full path to model assets directory
        output_h5ad = 'out.h5ad'                   // Output path for embedded .h5ad (relative)
        batch_key = 'sample'              // Batch key in .obs for HVG selection
        batch_size = 1            // Batch size for embedding
        // umap = "true"                    // Compute UMAP and save PNG if --umap_png provided
        bio_key = 'subtype'                  // Obs key used for UMAP coloring
        // umap_png = 'umap.png'        // Output path for UMAP PNG plot (relative)
    }
}