params {
    model = "cancerf"
    workflow {
        input = "${projectDir}/data/neftel_ss2.h5ad"            // Path to input .h5ad file
        output_h5ad = 'out.h5ad'                   // Output path for embedded .h5ad
        model_dir = "${projectDir}/bin/cancerf/model/assets"   // Path to model assets directory
        batch_key = 'sample'              // Batch key in .obs for HVG selection
        batch_size = 1            // Batch size for embedding
        // umap = "true"                    // Compute UMAP and save PNG if --umap_png provided
        bio_key = 'subtype'                  // Obs key used for UMAP coloring
        umap_png = 'umap.png'        // Output path for UMAP PNG plot
    }
}